@import url("https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tagesschrift&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

:root {
    --background: #dddddd;
    --foreground: #202020;
    --tertairy: #333333;
    --blood: #C5181A;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-tertairy: var(--tertairy);
    --color-blood: var(--blood);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #202020;
        --foreground: #dddddd;
        --tertairy: #c2c2c2;
        --blood: #C5181A;
    }
}

* {
    transition-property: all;
    transition-timing-function: var(--tw-ease, cubic-bezier(0.4, 0, 0.2, 1));
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    scrollbar-width: thin;
    scrollbar-color: #C5181A var(--background);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
}

.dexter-font{
    font-family: "Noto Sans ExtCond", system-ui;
    font-weight: 400;
    font-optical-sizing: auto;
    letter-spacing: 6px;
    font-style: normal;
}

.im-fell-dw-pica-regular {
    font-family: "IM Fell DW Pica", serif;
    font-weight: 400;
    font-style: normal;
}

.tagesschrift-regular {
    font-family: "Tagesschrift", system-ui;
    font-weight: 400;
    font-style: normal;
}

.quicksand-regular {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--foreground);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    border: 3px solid var(--foreground);
}

::-webkit-scrollbar-thumb:hover {
    background: #c8161e;
}
